html, body {
    background-color:seashell;
    font-family: 'Raleway';
    color:black;
    text-align: center;
    width: auto;
}

header nav {
    height: 70px;
    width: 100%;
    padding-left: 30px;
}

nav {
    display: inline-flex;
    border-bottom: 1px solid darkmagenta;
    justify-content: space-between;
    background-image: linear-gradient(thistle, darkmagenta);
}

#name {
    font-size: 30px;
}

.navbar {
    display: inline-flex;
    margin-right: 40px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
}

#aboutme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.aboutme_info {
    margin-left: 20px;
    width:50%;
}

#aboutme-pic {
    max-width: 100%;
    width:auto;
    height:500px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

#open-button {
    background-color: darkseagreen;
    border: 1px solid midnightblue;
    border-radius: 3px;
    cursor: pointer;
    width:200px;
    height:50px;
    font-size: 20px;
}

#close-button {
    display: none;
    background-color: darkseagreen;
    border: 1px solid midnightblue;
    border-radius: 3px;
    cursor: pointer;
    width:200px;
    height:50px;
    font-size: 20px;
    place-items: center;
}

.h2-projects {
    text-align: center;
    border-top: 2px solid midnightblue;
    padding-top: 30px;
}
#container-projects {
    display: flex;
    position:relative;
    justify-content: space-around;
    top:30px;
    padding-bottom: 50px;
}

.projects {
    background-color: darkmagenta;
    padding: 30px;
    width:150px;
    height: 150px;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.projects:hover {
    background-color: midnightblue;
}

.project h3 {
    font-size: 60px;
    font-weight: lighter;
}

button {
    background-color: darkseagreen;
    border: 1px solid midnightblue;
    border-radius: 3px;
    cursor: pointer;
}

#more-info1, #more-info2, #more-info3 {
    display: none;
}

#skills-section {
    background-color: white;
    position: relative;
    top:20px;
    border-bottom: 2px solid midnightblue;
    border-top: 2px solid midnightblue;
}
.h2-skills {
    text-align: center;
    padding-top: 10px;
}
.container-skills {
    top: 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 30px;
}

.h2-contact {
  padding-top: 10px;
}

#contact {
    display:flex;
    align-content: space-around;
    flex-direction: column;
}

.contact-item {
    display: inline-flex;
    justify-content: left;
}

.icon {
    width: 50px;
    height: 50px;
}





